<section id="zuzu">

    <style type="text/css">
        /* Style Settings */

        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        :root {
            --font: 'Karla', 'Karla', sans-serif;
        }

        body {
            background-color: #E6B0E8;
            background-image: url("img/zuzuBg.webp");
            background-repeat: repeat;
            background-size: 192px;
        }

        #zuzu {
            background-color: #D585B3;
            max-width: 750px;
            width: auto;
            display: block;
            margin: 27px auto;
        }

        #userPhoto {
            width: 96px;
            height: 96px;
            display: block;
            margin: 35px auto 20px;
            box-shadow: 0px 6px #EDC2FF;
            padding-top: 30px;
        }

        #imgbutton {
            width: 50px;
            margin: -13px;
        }

        #userName {
            color: black;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.25;
            display: block;
            font-family: var(--font);
            text-align: center;
            text-decoration: none;
            background-color: #FFCFE9;
            max-width: 150px;
            width: auto;
            display: block;
            margin: 27px auto;
            padding: 10px;
            box-shadow: 0px 6px #EDC2FF;

        }

        #links {
            max-width: 675px;
            width: auto;
            display: block;
            margin: 27px auto;
        }

        @media only screen and (max-width: 700px) {
            #zuzu {
                margin-left: 3%;
                margin-right: 3%;
            }
            .night_mode {
                margin-right: 40%;
            }
            #links {
                margin-left: 3%;
                margin-right: 3%;
            }
            .night_mode {
                margin-right: 40%;
            }
        }

        .link {
            display: block;
            background-color: #FFCAC2;
            color: #fff;
            font-family: var(--font);
            text-align: center;
            color: black;
            margin-bottom: 20px;
            padding: 17px;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            transition: all 0.15s;
            box-shadow: 0px 6px #E8B0B3;
        }

        .link:hover {
            /* background: #019489; */
            box-shadow: 0px 8px #E8B0B3;
            transform: translateY(-2px);
        }

        .link:active {
            transform: translateY(6px);
            box-shadow: 0px 0px #E8B0B3;
        }

        #proker {
            max-width: 300px;
            width: auto;
            display: grid;
            margin: 27px auto;
        }

        .footer {
            text-align: center;
            font-size: 1.3rem;
        }

        .footer a {
            text-decoration: none;
        }
        
        .platform {
            border-width: 0px;
            margin-bottom: -1px;
        }

        i {margin-right: 5px}
    </style>
    <div class='navbar no-items section' id='navbar'></div>
        <img alt='User Photo' id='userPhoto' src='img/zuzuIcon_96x96.jpg' onclick='new eSheep({allowPopup : "no"}).Start()'/>
        <spam id='userName'>@zuzu.aussie</spam>
        <div id='links'>
            <hr class='platform'>
            <a class='link' href='https://www.instagram.com/zuzu.aussie/' target='_blank'><i class="fab fa-instagram"></i>Instagram</a>
            <a class='link' href='https://www.tiktok.com/@zuzu.aussie' target='_blank'><i class="fab fa-tiktok"></i>TikTok</a>
            <a class='link' href="mailto:woof@zuzu.dog"><i class="far fa-envelope"></i>woof@zuzu.dog</a>
        </div>
    </div>

    <img src='https://dmb4l04o9uijr.cloudfront.net/pixel.png'/>
    
    <!-- Javascript -->
<!--     <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->

   <script>
        var friend = new eSheep({allowPopup : "no"});
        friend.Start();
   </script>
</section>
