<section id="zuzu">

    <link rel="stylesheet" href="style.css">
    <div class='navbar no-items section' id='navbar'></div>
        <img alt='User Photo' id='userPhoto' src='nophoto'/>
        <spam id='userName'>@zuzu.aussie</spam>
        <div id='links'>
            <a class='link' href='https://www.instagram.com/zuzu.aussie/' target='_blank'><i aria-hidden='true' class='ri-discord-fill'></i>Instagram</a>
            <a class='link' href='https://www.tiktok.com/@zuzu.aussie' target='_blank'><i aria-hidden='true' class='fa fa-camera'></i>TikTok</a>
    </div>
    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</section>
