<section id="zuzu">
    <link rel="stylesheet" href="style.css">

    <!-- <img id="userPhoto" src="img/zuzu.jpg" alt="User Photo"> -->

    <p>@zuzu.aussie</p>
    <div id="links">
        <a class="link" href="https://www.instagram.com/zuzu.aussie" target="_blank">Instagram</a>
        <a class="link" href="https://www.tiktok.com/@zuzu.aussie" target="_blank">TikTok</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>

</section>
