<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">

		<!-- Primary Meta Tags -->
		<title>zuzu</title>
		<meta name="title" content="zuzu">
		<meta name="description" content="z u z u?">
    	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://zuzu.dog/">
		<meta property="og:title" content="zuzu">
		<meta property="og:description" content="z u z u?">
		<meta property="og:image" content="https://raw.githubusercontent.com/TheFireFerret/TheFireFerret.github.io/master/img/github.jpg">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://zuzu.dog/">
		<meta property="twitter:title" content="zuzu">
		<meta property="twitter:description" content="z u z u?">
		<meta property="twitter:image" content="https://raw.githubusercontent.com/TheFireFerret/TheFireFerret.github.io/master/img/github.jpg">

		<link href='https://use.fontawesome.com/releases/v5.14.0/css/all.css' rel='stylesheet'/>
        <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
  </head>
    <body id="page-top">
    {% include zuzu.html %}
    </body>
</html>
