<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">

		<!-- Primary Meta Tags -->
		<title>zuzu's titles</title>
		<meta name="title" content="zuzu">
		<meta name="description" content="zuzu's achievements">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="theme-color" content="#E6B0E8">

		<link href='https://use.fontawesome.com/releases/v5.14.0/css/all.css' rel='stylesheet'/>

	    	<script src="https://adrianotiger.github.io/web-esheep/src/esheep.js"></script>

  </head>
    <body id="page-top">
    {% include titles.html %}
    </body>
</html>
